In [1]:
import pandas as pd
import re

In [2]:
ev_data = "./Resources/Electric_Vehicle_Population_Data.csv"
df = pd.read_csv(ev_data)
df.head()

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,5YJ3E1EB2J,Suffolk,Suffolk,VA,23435.0,2018,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,215,0,NaN,476647986,POINT (-76.42443 36.8752),NaN,5.180008e+10
1,5YJ3E1ECXL,Yakima,Yakima,WA,98908.0,2020,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,308,0,14.0,103490145,POINT (-120.56916 46.58514),PACIFICORP,5.307700e+10
2,WA1LAAGE7M,Yakima,Yakima,WA,98908.0,2021,AUDI,E-TRON,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,222,0,14.0,144941534,POINT (-120.56916 46.58514),PACIFICORP,5.307700e+10
3,5YJ3E1EA1K,Danville,Danville,VA,24541.0,2019,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,220,0,NaN,168513922,POINT (-79.4172 36.58598),NaN,5.159000e+10
4,1FADP5CU9E,Norfolk,Norfolk,VA,23518.0,2014,FORD,C-MAX,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,19,0,NaN,150749378,POINT (-76.21549 36.92478),NaN,5.171001e+10

In [3]:
df1 = df.drop(['Postal Code', 'Clean Alternative Fuel Vehicle (CAFV) Eligibility','Base MSRP', 'Legislative District', 'DOL Vehicle ID', 'Electric Utility', '2020 Census Tract'], axis = 1)
df1.head()

,VIN (1-10),County,City,State,Model Year,Make,Model,Electric Vehicle Type,Electric Range,Vehicle Location
0,5YJ3E1EB2J,Suffolk,Suffolk,VA,2018,TESLA,MODEL 3,Battery Electric Vehicle (BEV),215,POINT (-76.42443 36.8752)
1,5YJ3E1ECXL,Yakima,Yakima,WA,2020,TESLA,MODEL 3,Battery Electric Vehicle (BEV),308,POINT (-120.56916 46.58514)
2,WA1LAAGE7M,Yakima,Yakima,WA,2021,AUDI,E-TRON,Battery Electric Vehicle (BEV),222,POINT (-120.56916 46.58514)
3,5YJ3E1EA1K,Danville,Danville,VA,2019,TESLA,MODEL 3,Battery Electric Vehicle (BEV),220,POINT (-79.4172 36.58598)
4,1FADP5CU9E,Norfolk,Norfolk,VA,2014,FORD,C-MAX,Plug-in Hybrid Electric Vehicle (PHEV),19,POINT (-76.21549 36.92478)

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121978 entries, 0 to 121977
Data columns (total 10 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VIN (1-10)             121978 non-null  object
 1   County                 121976 non-null  object
 2   City                   121976 non-null  object
 3   State                  121978 non-null  object
 4   Model Year             121978 non-null  int64
 5   Make                   121978 non-null  object
 6   Model                  121874 non-null  object
 7   Electric Vehicle Type  121978 non-null  object
 8   Electric Range         121978 non-null  int64
 9   Vehicle Location       121946 non-null  object
dtypes: int64(2), object(8)
memory usage: 9.3+ MB

In [5]:
clean_df = df1.dropna()
clean_df.head()

,VIN (1-10),County,City,State,Model Year,Make,Model,Electric Vehicle Type,Electric Range,Vehicle Location
0,5YJ3E1EB2J,Suffolk,Suffolk,VA,2018,TESLA,MODEL 3,Battery Electric Vehicle (BEV),215,POINT (-76.42443 36.8752)
1,5YJ3E1ECXL,Yakima,Yakima,WA,2020,TESLA,MODEL 3,Battery Electric Vehicle (BEV),308,POINT (-120.56916 46.58514)
2,WA1LAAGE7M,Yakima,Yakima,WA,2021,AUDI,E-TRON,Battery Electric Vehicle (BEV),222,POINT (-120.56916 46.58514)
3,5YJ3E1EA1K,Danville,Danville,VA,2019,TESLA,MODEL 3,Battery Electric Vehicle (BEV),220,POINT (-79.4172 36.58598)
4,1FADP5CU9E,Norfolk,Norfolk,VA,2014,FORD,C-MAX,Plug-in Hybrid Electric Vehicle (PHEV),19,POINT (-76.21549 36.92478)

In [6]:
clean_df = clean_df.replace(to_replace='\(', value ="", regex = True)
clean_df
clean_df = clean_df.replace(to_replace='\)', value ="", regex = True)
clean_df

,VIN (1-10),County,City,State,Model Year,Make,Model,Electric Vehicle Type,Electric Range,Vehicle Location
0,5YJ3E1EB2J,Suffolk,Suffolk,VA,2018,TESLA,MODEL 3,Battery Electric Vehicle BEV,215,POINT -76.42443 36.8752
1,5YJ3E1ECXL,Yakima,Yakima,WA,2020,TESLA,MODEL 3,Battery Electric Vehicle BEV,308,POINT -120.56916 46.58514
2,WA1LAAGE7M,Yakima,Yakima,WA,2021,AUDI,E-TRON,Battery Electric Vehicle BEV,222,POINT -120.56916 46.58514
3,5YJ3E1EA1K,Danville,Danville,VA,2019,TESLA,MODEL 3,Battery Electric Vehicle BEV,220,POINT -79.4172 36.58598
4,1FADP5CU9E,Norfolk,Norfolk,VA,2014,FORD,C-MAX,Plug-in Hybrid Electric Vehicle PHEV,19,POINT -76.21549 36.92478
...,...,...,...,...,...,...,...,...,...,...
121973,5YJYGDEE2M,King,Issaquah,WA,2021,TESLA,MODEL Y,Battery Electric Vehicle BEV,0,POINT -122.03439 47.5301
121974,1N4BZ0CP1H,Snohomish,Lynnwood,WA,2017,NISSAN,LEAF,Battery Electric Vehicle BEV,107,POINT -122.27734 47.83785
121975,5YJYGDEFXL,Snohomish,Mountlake Terrace,WA,2020,TESLA,MODEL Y,Battery Electric Vehicle BEV,291,POINT -122.31111 47.78803
121976,1N4BZ1CPXK,King,Seattle,WA,2019,NISSAN,LEAF,Battery Electric Vehicle BEV,150,POINT -122.2668 47.55115
121977,1FTVW1ELXN,King,Kirkland,WA,2022,FORD,F-150,Battery Electric Vehicle BEV,0,POINT -122.22901 47.72201

In [7]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 121842 entries, 0 to 121977
Data columns (total 10 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VIN (1-10)             121842 non-null  object
 1   County                 121842 non-null  object
 2   City                   121842 non-null  object
 3   State                  121842 non-null  object
 4   Model Year             121842 non-null  int64
 5   Make                   121842 non-null  object
 6   Model                  121842 non-null  object
 7   Electric Vehicle Type  121842 non-null  object
 8   Electric Range         121842 non-null  int64
 9   Vehicle Location       121842 non-null  object
dtypes: int64(2), object(8)
memory usage: 10.2+ MB

In [8]:
clean_df = clean_df.rename(columns = {'Vehicle Location' : "location"})

In [9]:
clean_df[['point', 'Latitude', 'Longitude']] = clean_df.location.str.split(" ", expand = True)
clean_df.head()

,VIN (1-10),County,City,State,Model Year,Make,Model,Electric Vehicle Type,Electric Range,location,point,Latitude,Longitude
0,5YJ3E1EB2J,Suffolk,Suffolk,VA,2018,TESLA,MODEL 3,Battery Electric Vehicle BEV,215,POINT -76.42443 36.8752,POINT,-76.42443,36.8752
1,5YJ3E1ECXL,Yakima,Yakima,WA,2020,TESLA,MODEL 3,Battery Electric Vehicle BEV,308,POINT -120.56916 46.58514,POINT,-120.56916,46.58514
2,WA1LAAGE7M,Yakima,Yakima,WA,2021,AUDI,E-TRON,Battery Electric Vehicle BEV,222,POINT -120.56916 46.58514,POINT,-120.56916,46.58514
3,5YJ3E1EA1K,Danville,Danville,VA,2019,TESLA,MODEL 3,Battery Electric Vehicle BEV,220,POINT -79.4172 36.58598,POINT,-79.4172,36.58598
4,1FADP5CU9E,Norfolk,Norfolk,VA,2014,FORD,C-MAX,Plug-in Hybrid Electric Vehicle PHEV,19,POINT -76.21549 36.92478,POINT,-76.21549,36.92478

In [10]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 121842 entries, 0 to 121977
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VIN (1-10)             121842 non-null  object
 1   County                 121842 non-null  object
 2   City                   121842 non-null  object
 3   State                  121842 non-null  object
 4   Model Year             121842 non-null  int64
 5   Make                   121842 non-null  object
 6   Model                  121842 non-null  object
 7   Electric Vehicle Type  121842 non-null  object
 8   Electric Range         121842 non-null  int64
 9   location               121842 non-null  object
 10  point                  121842 non-null  object
 11  Latitude               121842 non-null  object
 12  Longitude              121842 non-null  object
dtypes: int64(2), object(11)
memory usage: 13.0+ MB

In [11]:
clean_df['Latitude']= clean_df['Latitude'].astype('float')
clean_df
clean_df['Longitude']= clean_df['Longitude'].astype('float')
clean_df

,VIN (1-10),County,City,State,Model Year,Make,Model,Electric Vehicle Type,Electric Range,location,point,Latitude,Longitude
0,5YJ3E1EB2J,Suffolk,Suffolk,VA,2018,TESLA,MODEL 3,Battery Electric Vehicle BEV,215,POINT -76.42443 36.8752,POINT,-76.42443,36.87520
1,5YJ3E1ECXL,Yakima,Yakima,WA,2020,TESLA,MODEL 3,Battery Electric Vehicle BEV,308,POINT -120.56916 46.58514,POINT,-120.56916,46.58514
2,WA1LAAGE7M,Yakima,Yakima,WA,2021,AUDI,E-TRON,Battery Electric Vehicle BEV,222,POINT -120.56916 46.58514,POINT,-120.56916,46.58514
3,5YJ3E1EA1K,Danville,Danville,VA,2019,TESLA,MODEL 3,Battery Electric Vehicle BEV,220,POINT -79.4172 36.58598,POINT,-79.41720,36.58598
4,1FADP5CU9E,Norfolk,Norfolk,VA,2014,FORD,C-MAX,Plug-in Hybrid Electric Vehicle PHEV,19,POINT -76.21549 36.92478,POINT,-76.21549,36.92478
...,...,...,...,...,...,...,...,...,...,...,...,...,...
121973,5YJYGDEE2M,King,Issaquah,WA,2021,TESLA,MODEL Y,Battery Electric Vehicle BEV,0,POINT -122.03439 47.5301,POINT,-122.03439,47.53010
121974,1N4BZ0CP1H,Snohomish,Lynnwood,WA,2017,NISSAN,LEAF,Battery Electric Vehicle BEV,107,POINT -122.27734 47.83785,POINT,-122.27734,47.83785
121975,5YJYGDEFXL,Snohomish,Mountlake Terrace,WA,2020,TESLA,MODEL Y,Battery Electric Vehicle BEV,291,POINT -122.31111 47.78803,POINT,-122.31111,47.78803
121976,1N4BZ1CPXK,King,Seattle,WA,2019,NISSAN,LEAF,Battery Electric Vehicle BEV,150,POINT -122.2668 47.55115,POINT,-122.26680,47.55115
121977,1FTVW1ELXN,King,Kirkland,WA,2022,FORD,F-150,Battery Electric Vehicle BEV,0,POINT -122.22901 47.72201,POINT,-122.22901,47.72201

In [12]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 121842 entries, 0 to 121977
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VIN (1-10)             121842 non-null  object
 1   County                 121842 non-null  object
 2   City                   121842 non-null  object
 3   State                  121842 non-null  object
 4   Model Year             121842 non-null  int64
 5   Make                   121842 non-null  object
 6   Model                  121842 non-null  object
 7   Electric Vehicle Type  121842 non-null  object
 8   Electric Range         121842 non-null  int64
 9   location               121842 non-null  object
 10  point                  121842 non-null  object
 11  Latitude               121842 non-null  float64
 12  Longitude              121842 non-null  float64
dtypes: float64(2), int64(2), object(9)
memory usage: 13.0+ MB

In [13]:
clean_df = clean_df.drop(['location', 'point'], axis = 1)

In [14]:
clean_df

,VIN (1-10),County,City,State,Model Year,Make,Model,Electric Vehicle Type,Electric Range,Latitude,Longitude
0,5YJ3E1EB2J,Suffolk,Suffolk,VA,2018,TESLA,MODEL 3,Battery Electric Vehicle BEV,215,-76.42443,36.87520
1,5YJ3E1ECXL,Yakima,Yakima,WA,2020,TESLA,MODEL 3,Battery Electric Vehicle BEV,308,-120.56916,46.58514
2,WA1LAAGE7M,Yakima,Yakima,WA,2021,AUDI,E-TRON,Battery Electric Vehicle BEV,222,-120.56916,46.58514
3,5YJ3E1EA1K,Danville,Danville,VA,2019,TESLA,MODEL 3,Battery Electric Vehicle BEV,220,-79.41720,36.58598
4,1FADP5CU9E,Norfolk,Norfolk,VA,2014,FORD,C-MAX,Plug-in Hybrid Electric Vehicle PHEV,19,-76.21549,36.92478
...,...,...,...,...,...,...,...,...,...,...,...
121973,5YJYGDEE2M,King,Issaquah,WA,2021,TESLA,MODEL Y,Battery Electric Vehicle BEV,0,-122.03439,47.53010
121974,1N4BZ0CP1H,Snohomish,Lynnwood,WA,2017,NISSAN,LEAF,Battery Electric Vehicle BEV,107,-122.27734,47.83785
121975,5YJYGDEFXL,Snohomish,Mountlake Terrace,WA,2020,TESLA,MODEL Y,Battery Electric Vehicle BEV,291,-122.31111,47.78803
121976,1N4BZ1CPXK,King,Seattle,WA,2019,NISSAN,LEAF,Battery Electric Vehicle BEV,150,-122.26680,47.55115
121977,1FTVW1ELXN,King,Kirkland,WA,2022,FORD,F-150,Battery Electric Vehicle BEV,0,-122.22901,47.72201

In [15]:
clean_df = clean_df.rename(columns = {'VIN (1-10)' : "vin", "County": "county", "City": "city", "State": "state", "Model Year": "model_year", "Make" : "make", "Model": "model", "Electric Vehicle Type" : "vehicle_type" , "Electric Range" : "range", "Latitude" : "latitude", "Longitude" : "longitude"})
clean_df

,vin,county,city,state,model_year,make,model,vehicle_type,range,latitude,longitude
0,5YJ3E1EB2J,Suffolk,Suffolk,VA,2018,TESLA,MODEL 3,Battery Electric Vehicle BEV,215,-76.42443,36.87520
1,5YJ3E1ECXL,Yakima,Yakima,WA,2020,TESLA,MODEL 3,Battery Electric Vehicle BEV,308,-120.56916,46.58514
2,WA1LAAGE7M,Yakima,Yakima,WA,2021,AUDI,E-TRON,Battery Electric Vehicle BEV,222,-120.56916,46.58514
3,5YJ3E1EA1K,Danville,Danville,VA,2019,TESLA,MODEL 3,Battery Electric Vehicle BEV,220,-79.41720,36.58598
4,1FADP5CU9E,Norfolk,Norfolk,VA,2014,FORD,C-MAX,Plug-in Hybrid Electric Vehicle PHEV,19,-76.21549,36.92478
...,...,...,...,...,...,...,...,...,...,...,...
121973,5YJYGDEE2M,King,Issaquah,WA,2021,TESLA,MODEL Y,Battery Electric Vehicle BEV,0,-122.03439,47.53010
121974,1N4BZ0CP1H,Snohomish,Lynnwood,WA,2017,NISSAN,LEAF,Battery Electric Vehicle BEV,107,-122.27734,47.83785
121975,5YJYGDEFXL,Snohomish,Mountlake Terrace,WA,2020,TESLA,MODEL Y,Battery Electric Vehicle BEV,291,-122.31111,47.78803
121976,1N4BZ1CPXK,King,Seattle,WA,2019,NISSAN,LEAF,Battery Electric Vehicle BEV,150,-122.26680,47.55115
121977,1FTVW1ELXN,King,Kirkland,WA,2022,FORD,F-150,Battery Electric Vehicle BEV,0,-122.22901,47.72201

In [16]:
clean_df.to_csv("output/clean_df.csv", encoding='utf8', index=False)

In [17]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\amand\anaconda3\lib\site-packages (2.9.5)

In [22]:
from sqlalchemy import create_engine
import psycopg2

from config import username, password, hostname, port, db

In [23]:
engine = create_engine(f'postgresql+psycopg2://{username}:{password}@{hostname}:{port}/{db}')

In [25]:
clean_df.to_sql('ev_vehicles', con=engine, if_exists='replace')